<div class="row">
    <div class="col-lg-12">
        <% if (updateSuccess) { %>
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-dismissable alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    Benefits updated successfully.
                </div>
            </div>
        </div>
        <!-- /.row -->
        <% } %>
        <% if (updateError) { %>
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-dismissable alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <%= updateError %>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <% } %>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="col-md-1">Employee ID</th>
                        <th class="col-md-2">First Name</th>
                        <th class="col-md-2">Last Name</th>
                        <th class="col-md-7">Benefits Start Date</th>
                    </tr>
                </thead>
                <tbody>
                    <% users.forEach((user) => { %>
                    <tr>
                        <td><%= user._id %></td>
                        <td><%= user.firstName %></td>
                        <td><%= user.lastName %></td>
                        <td>
                            <form method="POST" action="/benefits">
                                <div class="input-group">
                                    <input type="hidden" name="userId" value="<%= user._id %>"></input>
                                    <input type="date" class="form-control" name="benefitStartDate" value="<%= user.benefitStartDate %>"></input>
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-default">Save</button>
                                    </span>
                                </div>
                                <!-- /input-group -->
                            </form>
                        </td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>

        </div>
        <!-- /.row -->
    </div>
</div>